* {
  font-family: JetBrains;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3c3a46;
  padding: 20px 50px;
  height: 120px;
  box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.4);
}

.logo {
  color: white;
  font-size: 24px;
  text-decoration: none;
  margin-left: 50px;
}

.header-center {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-center ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

header input {
  width: 550px;
  height: 38px;
  border-radius: 41px;
  border: none;
  background: #5e5c6b;
  color: white;
  padding-left: 17px;
  box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.4);
}

header input::placeholder {
  color: white;
}

.nav-item,
.nav-link {
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
}

.nav a,
.header-right a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.header-right {
  display: flex;
  gap: 20px;
}

#register {
  background-color: #3c4989;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
}

#login {
  padding: 10px 20px 10px 20px;
}
