@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600&display=swap');

* {
  font-family: 'JetBrains Mono';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222128;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login {
  background-color: #3c3a46;
  padding: 60px;
  width: 1041px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.35);
  display: flex;
  justify-content: center;
}

.login-title {
  text-align: center;
  margin-bottom: 40px;
  color: white;
}

input {
  display: block;
  background-color: #5e5c6b;
  width: 426px;
  height: 50px;
  border-radius: 15px;
  padding-left: 25px;
  margin-bottom: 26px;
  color: white;
  box-shadow: 4px 5px 5px rgba(0,0,0,0.4);
  border: none;
}

input::placeholder{
  color: white;
}

.entrar {
  width: 243px;
  height: 50px;
  color: white;
  border-radius: 15px;
  background-color: #3c4989;
  box-shadow: 4px 5px 5px rgba(0,0,0,0.4);
  border: none;
  margin: 20px auto 30px auto;
  display: block;
}

.social-buttons img {
  width: 29px;
  height: 29px;
}
