/* You can add global styles to this file, and also import other style files */
/* body {
  background-color: #1E1E26;
  overflow-x: hidden;
} */

* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  box-sizing: border-box;
  
}

body{
  background-color: #222128;
}
